# Opioids Project: Data Cleaning

Ra'Kira Nelson and Alexa Fahrer

In [1]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

## Prescriptions

In [2]:
prescriptions_raw = pd.read_parquet("data/ids590_opioids_by_drug_county_year.parquet")
prescriptions = prescriptions_raw.copy()

In [3]:
prescriptions["mme_conversion_factor"] = (
    prescriptions["mme_conversion_factor"].to_numpy().astype("float64")
)
prescriptions["calc_base_wt_in_gm"] = (
    prescriptions["calc_base_wt_in_gm"].to_numpy().astype("float64")
)
prescriptions["buyer_county"] = prescriptions["buyer_county"].str.upper().str.strip()
prescriptions["buyer_state"] = prescriptions["buyer_state"].str.upper().str.strip()

prescriptions = prescriptions[
    ~prescriptions["buyer_state"].isin(["AK", "PR", "VI", "GU", "MP", "AS", "PW"])
]

In [4]:
prescriptions.head(20)

,buyer_state,buyer_county,year,drug_name,mme_conversion_factor,calc_base_wt_in_gm
2682,AL,AUTAUGA,2006,BUPRENORPHINE,30.00,7.980816
2683,AL,AUTAUGA,2006,BUPRENORPHINE,75.00,0.019533
2684,AL,AUTAUGA,2006,CODEINE,0.15,2217.649100
2685,AL,AUTAUGA,2006,DIHYDROCODEINE,0.25,59.102157
2686,AL,AUTAUGA,2006,FENTANYL,100.00,225.711500
2687,AL,AUTAUGA,2006,FENTANYL,130.00,1.074000
2688,AL,AUTAUGA,2006,HYDROCODONE,1.00,10100.072450
2689,AL,AUTAUGA,2006,HYDROMORPHONE,4.00,50.923897
2690,AL,AUTAUGA,2006,MEPERIDINE,0.10,2259.036957
2691,AL,AUTAUGA,2006,METHADONE,3.00,3.502800
2692,AL,AUTAUGA,2006,METHADONE,4.00,1087.870050
2693,AL,AUTAUGA,2006,METHADONE,8.00,243.328000
2694,AL,AUTAUGA,2006,MORPHINE,1.00,3672.068991
2695,AL,AUTAUGA,2006,"OPIUM, POWDERED",1.00,5.760000
2696,AL,AUTAUGA,2006,OXYCODONE,1.50,5905.889915
2697,AL,AUTAUGA,2006,OXYMORPHONE,3.00,4.014450
2698,AL,AUTAUGA,2007,BUPRENORPHINE,30.00,24.371424
2699,AL,AUTAUGA,2007,CODEINE,0.15,2125.665880
2700,AL,AUTAUGA,2007,DIHYDROCODEINE,0.25,67.981551
2701,AL,AUTAUGA,2007,FENTANYL,100.00,210.007050

In [5]:
prescriptions_condensed = prescriptions.groupby(
    ["buyer_state", "buyer_county", "year"], as_index=False, observed=True
)["calc_base_wt_in_gm"].sum()
prescriptions_condensed

      buyer_state buyer_county  year  calc_base_wt_in_gm
0              AL      AUTAUGA  2006        25844.004617
1              AL      AUTAUGA  2007        27528.290608
2              AL      AUTAUGA  2008        30237.508424
3              AL      AUTAUGA  2009        32653.019231
4              AL      AUTAUGA  2010        35530.234473
...           ...          ...   ...                 ...
41850          WY       WESTON  2015         2725.641288
41851          WY       WESTON  2016         2284.998660
41852          WY       WESTON  2017         1893.343744
41853          WY       WESTON  2018         1701.088712
41854          WY       WESTON  2019         1464.711461

[41855 rows x 4 columns]

## FIPS

In [6]:
fips = pd.read_excel("data/US_FIPS_Codes.xls", skiprows=1)

In [7]:
fips["fips"] = fips["FIPS State"].astype(str).str.zfill(2) + fips["FIPS County"].astype(
    str
).str.zfill(3)

fips = fips[~fips["State"].isin(["AK"])]

us_state_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "District of Columbia": "DC",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
}

fips["state_abbrev"] = fips["State"].map(us_state_abbrev)
fips["County Name"] = fips["County Name"].str.upper().str.strip()
fips["state_abbrev"] = fips["state_abbrev"].str.upper().str.strip()

fips["County Name"] = (
    fips["County Name"]
    .str.upper()
    .str.strip()
    .str.replace(r"^ST[.\s]+", "SAINT ", regex=True)
)

fips

        State County Name  FIPS State  FIPS County   fips state_abbrev
0     Alabama     AUTAUGA           1            1  01001           AL
1     Alabama     BALDWIN           1            3  01003           AL
2     Alabama     BARBOUR           1            5  01005           AL
3     Alabama        BIBB           1            7  01007           AL
4     Alabama      BLOUNT           1            9  01009           AL
...       ...         ...         ...          ...    ...          ...
3137  Wyoming  SWEETWATER          56           37  56037           WY
3138  Wyoming       TETON          56           39  56039           WY
3139  Wyoming       UINTA          56           41  56041           WY
3140  Wyoming    WASHAKIE          56           43  56043           WY
3141  Wyoming      WESTON          56           45  56045           WY

[3142 rows x 6 columns]

In [8]:
# prescriptions_condensed["buyer_county"] = prescriptions_condensed[
#     "buyer_county"
# ].replace(
#     {
#         # Georgia / Illinois
#         "DEKALB": "DE KALB",
#         # Illinois
#         "DUPAGE": "DU PAGE",
#         # Indiana
#         "ST JOSEPH": "SAINT JOSEPH",
#         # Louisiana
#         "ST JOHN THE BAPTIST": "SAINT JOHN THE BAPTIST",
#         # Missouri
#         "SAINTE GENEVIEVE": "STE GENEVIEVE",
#         # Mississippi
#         "DESOTO": "DE SOTO",
#         # Virginia
#         "SALEM": "SALEM CITY",
#     }
# )

In [9]:
prescriptions_fips_merged = pd.merge(
    prescriptions_condensed,
    fips[["state_abbrev", "County Name", "fips"]],
    left_on=["buyer_state", "buyer_county"],
    right_on=["state_abbrev", "County Name"],
    how="left",
    indicator=True,
    validate="m:1",
)

prescriptions_merged = prescriptions_fips_merged.drop(
    columns=["state_abbrev", "County Name", "_merge"]
).copy()

In [10]:
print(prescriptions_fips_merged["_merge"].value_counts())

_merge
both          41729
left_only       126
right_only        0
Name: count, dtype: int64

In [11]:
unmatched = prescriptions_fips_merged[
    prescriptions_fips_merged["_merge"] == "left_only"
]
unmatched[["buyer_state", "buyer_county"]].drop_duplicates().sort_values(
    ["buyer_state", "buyer_county"]
)

      buyer_state         buyer_county
1606           AR           MONTGOMERY
5467           GA               DEKALB
9260           IL               DEKALB
9302           IL               DUPAGE
11443          IN            ST JOSEPH
15498          LA  ST JOHN THE BAPTIST
20126          MO     SAINTE GENEVIEVE
20603          MS               DESOTO
38766          VA                SALEM

In [12]:
prescriptions_merged

      buyer_state buyer_county  year  calc_base_wt_in_gm   fips
0              AL      AUTAUGA  2006        25844.004617  01001
1              AL      AUTAUGA  2007        27528.290608  01001
2              AL      AUTAUGA  2008        30237.508424  01001
3              AL      AUTAUGA  2009        32653.019231  01001
4              AL      AUTAUGA  2010        35530.234473  01001
...           ...          ...   ...                 ...    ...
41850          WY       WESTON  2015         2725.641288  56045
41851          WY       WESTON  2016         2284.998660  56045
41852          WY       WESTON  2017         1893.343744  56045
41853          WY       WESTON  2018         1701.088712  56045
41854          WY       WESTON  2019         1464.711461  56045

[41855 rows x 5 columns]

## Deaths

In [13]:
deaths_dfs = {}
for year in range(2003, 2016):
    key = f"deaths_{year}"
    url = (
        "https://media.githubusercontent.com/media/nickeubank/ids540_opioid_data/"
        f"refs/heads/main/vitalstatistics/Underlying%20Cause%20of%20Death%2C%20{year}.txt"
    )

    df = pd.read_csv(url, sep="\t", skipfooter=15, engine="python")
    df = df.drop(columns=["Notes"])
    deaths_dfs[key] = df

deaths = pd.concat(
    [deaths_dfs[f"deaths_{year}"].assign(year=year) for year in range(2006, 2016)],
    ignore_index=True,
)

In [14]:
deaths["Year"] = pd.to_numeric(deaths["Year"], errors="coerce").astype("Int64")
deaths["Deaths"] = pd.to_numeric(deaths["Deaths"], errors="coerce").astype("Int64")
deaths = deaths[
    deaths["Drug/Alcohol Induced Cause"]
    == "Drug poisonings (overdose) Unintentional (X40-X44)"
]
deaths["fips"] = deaths["County Code"].astype(str).str.zfill(5)
deaths = deaths.drop(columns=["Year Code", "year", "County Code"])
deaths = deaths[~deaths["County"].str.endswith(", AK", na=False)]
deaths = deaths.rename(columns={"Year": "year"})
deaths = deaths.rename(columns={"Deaths": "deaths"})
deaths

,County,year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,deaths,fips
1,"Baldwin County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,11,01003
12,"Chilton County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,13,01021
39,"Jefferson County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,55,01073
55,"Mobile County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,23,01097
60,"Montgomery County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,12,01101
...,...,...,...,...,...,...
44778,"Waukesha County, WI",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,34,55133
44784,"Winnebago County, WI",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,22,55139
44794,"Fremont County, WY",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,10,56013
44800,"Laramie County, WY",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13,56021
44804,"Natrona County, WY",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13,56025

## Population

In [15]:
pop_1 = pd.read_csv("data/co-est00int-tot.csv", encoding="latin1")
pop_2 = pd.read_csv("data/co-est2020.csv", encoding="latin1")

In [16]:
p1_sub = pop_1[
    [
        "STATE",
        "COUNTY",
        "STNAME",
        "CTYNAME",
        "POPESTIMATE2006",
        "POPESTIMATE2007",
        "POPESTIMATE2008",
        "POPESTIMATE2009",
    ]
].copy()
p2_sub = pop_2[
    [
        "STATE",
        "COUNTY",
        "STNAME",
        "CTYNAME",
        "POPESTIMATE2010",
        "POPESTIMATE2011",
        "POPESTIMATE2012",
        "POPESTIMATE2013",
        "POPESTIMATE2014",
        "POPESTIMATE2015",
    ]
].copy()
pop_merged = p1_sub.merge(
    p2_sub, on=["STATE", "COUNTY", "STNAME", "CTYNAME"], how="inner"
)
pop_merged["fips"] = pop_merged["STATE"].astype(str).str.zfill(2) + pop_merged[
    "COUNTY"
].astype(str).str.zfill(3)
pop_merged = pop_merged[~pop_merged["STNAME"].isin(["Alaska"])]

In [17]:
pop_merged

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,fips
0,1,0,Alabama,Alabama,4628981,4672840,4718206,4757938,4785514,4799642,4816632,4831586,4843737,4854803,01000
1,1,1,Alabama,Autauga County,51328,52405,53277,54135,54761,55229,54970,54747,54922,54903,01001
2,1,3,Alabama,Baldwin County,168121,172404,175827,179406,183121,186579,190203,194978,199306,203101,01003
3,1,5,Alabama,Barbour County,27861,27757,27808,27657,27325,27344,27172,26946,26768,26300,01005
4,1,7,Alabama,Bibb County,22099,22438,22705,22941,22858,22736,22657,22510,22541,22553,01007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,56,37,Wyoming,Sweetwater County,39749,41470,42358,44133,43580,44000,45032,45189,44996,44780,56037
3184,56,39,Wyoming,Teton County,20014,20472,20988,21232,21298,21422,21643,22335,22801,23083,56039
3185,56,41,Wyoming,Uinta County,19709,20171,20613,21054,21090,20901,21008,20969,20835,20777,56041
3186,56,43,Wyoming,Washakie County,7979,8169,8229,8423,8531,8451,8410,8417,8277,8282,56043
3187,56,45,Wyoming,Weston County,6717,7033,7133,7266,7198,7142,7075,7132,7134,7202,56045

In [18]:
year_cols = [c for c in pop_merged.columns if c.startswith("POPESTIMATE")]
pop_long = pop_merged.melt(
    id_vars=["fips", "STNAME", "CTYNAME"],
    value_vars=year_cols,
    var_name="pop_var",
    value_name="population",
)
pop_long["Year"] = pop_long["pop_var"].str.extract(r"(\d{4})").astype(int)
pop_long = pop_long.drop(columns=["pop_var"])
pop_long = pop_long.rename(columns={"STNAME": "state"})
pop_long = pop_long.rename(columns={"CTYNAME": "county"})
pop_long = pop_long.rename(columns={"Year": "year"})
pop_long["state"] = pop_long["state"].str.upper().str.strip()
pop_long["county"] = pop_long["county"].str.upper().str.strip()
pop_long

        fips    state             county  population  year
0      01000  ALABAMA            ALABAMA     4628981  2006
1      01001  ALABAMA     AUTAUGA COUNTY       51328  2006
2      01003  ALABAMA     BALDWIN COUNTY      168121  2006
3      01005  ALABAMA     BARBOUR COUNTY       27861  2006
4      01007  ALABAMA        BIBB COUNTY       22099  2006
...      ...      ...                ...         ...   ...
31605  56037  WYOMING  SWEETWATER COUNTY       44780  2015
31606  56039  WYOMING       TETON COUNTY       23083  2015
31607  56041  WYOMING       UINTA COUNTY       20777  2015
31608  56043  WYOMING    WASHAKIE COUNTY        8282  2015
31609  56045  WYOMING      WESTON COUNTY        7202  2015

[31610 rows x 5 columns]

## Merging

In [19]:
deaths

,County,year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,deaths,fips
1,"Baldwin County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,11,01003
12,"Chilton County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,13,01021
39,"Jefferson County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,55,01073
55,"Mobile County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,23,01097
60,"Montgomery County, AL",2006,Drug poisonings (overdose) Unintentional (X40-...,D1,12,01101
...,...,...,...,...,...,...
44778,"Waukesha County, WI",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,34,55133
44784,"Winnebago County, WI",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,22,55139
44794,"Fremont County, WY",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,10,56013
44800,"Laramie County, WY",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13,56021
44804,"Natrona County, WY",2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13,56025

In [20]:
pop_long

        fips    state             county  population  year
0      01000  ALABAMA            ALABAMA     4628981  2006
1      01001  ALABAMA     AUTAUGA COUNTY       51328  2006
2      01003  ALABAMA     BALDWIN COUNTY      168121  2006
3      01005  ALABAMA     BARBOUR COUNTY       27861  2006
4      01007  ALABAMA        BIBB COUNTY       22099  2006
...      ...      ...                ...         ...   ...
31605  56037  WYOMING  SWEETWATER COUNTY       44780  2015
31606  56039  WYOMING       TETON COUNTY       23083  2015
31607  56041  WYOMING       UINTA COUNTY       20777  2015
31608  56043  WYOMING    WASHAKIE COUNTY        8282  2015
31609  56045  WYOMING      WESTON COUNTY        7202  2015

[31610 rows x 5 columns]

In [21]:
prescriptions_merged

      buyer_state buyer_county  year  calc_base_wt_in_gm   fips
0              AL      AUTAUGA  2006        25844.004617  01001
1              AL      AUTAUGA  2007        27528.290608  01001
2              AL      AUTAUGA  2008        30237.508424  01001
3              AL      AUTAUGA  2009        32653.019231  01001
4              AL      AUTAUGA  2010        35530.234473  01001
...           ...          ...   ...                 ...    ...
41850          WY       WESTON  2015         2725.641288  56045
41851          WY       WESTON  2016         2284.998660  56045
41852          WY       WESTON  2017         1893.343744  56045
41853          WY       WESTON  2018         1701.088712  56045
41854          WY       WESTON  2019         1464.711461  56045

[41855 rows x 5 columns]

In [22]:
presc_deaths = pd.merge(
    prescriptions_merged,
    deaths[["fips", "County", "year", "deaths"]],
    on=["fips", "year"],
    how="outer",
)

opioids = pd.merge(
    presc_deaths,
    pop_long[["fips", "year", "county", "state", "population"]],
    on=["fips", "year"],
    how="left",
)

opioids = opioids[
    [
        "fips",
        "buyer_county",
        "County",
        "county",
        "state",
        "buyer_state",
        "year",
        "calc_base_wt_in_gm",
        "deaths",
        "population",
    ]
]

print(opioids.shape)
opioids.sample(20)

(41897, 10)

,fips,buyer_county,County,county,state,buyer_state,year,calc_base_wt_in_gm,deaths,population
25183,37009,ASHE,NaN,ASHE COUNTY,NORTH CAROLINA,NC,2008,10028.700948,<NA>,26858.0
25416,37043,CLAY,NaN,CLAY COUNTY,NORTH CAROLINA,NC,2014,7402.327200,<NA>,10578.0
9333,18047,FRANKLIN,NaN,NaN,NaN,IN,2016,8262.963191,<NA>,NaN
976,04005,COCONINO,NaN,NaN,NaN,AZ,2016,54287.412232,<NA>,NaN
13536,21063,ELLIOTT,NaN,NaN,NaN,KY,2019,1249.494799,<NA>,NaN
30866,44001,BRISTOL,NaN,BRISTOL COUNTY,RHODE ISLAND,RI,2006,12740.961410,<NA>,50996.0
28870,40071,KAY,NaN,KAY COUNTY,OKLAHOMA,OK,2012,29957.063964,<NA>,45692.0
21162,29187,SAINT FRANCOIS,"St. Francois County, MO",ST. FRANCOIS COUNTY,MISSOURI,MO,2008,62165.108212,10,64280.0
29155,40111,OKMULGEE,NaN,NaN,NaN,OK,2017,21033.192990,<NA>,NaN
38650,51197,WYTHE,NaN,NaN,NaN,VA,2018,14568.957335,<NA>,NaN
1663,05075,LAWRENCE,NaN,LAWRENCE COUNTY,ARKANSAS,AR,2007,6719.472840,<NA>,17286.0
19010,28039,GEORGE,NaN,GEORGE COUNTY,MISSISSIPPI,MS,2006,10988.762700,<NA>,21382.0
14846,22013,BIENVILLE,NaN,BIENVILLE PARISH,LOUISIANA,LA,2013,2824.629113,<NA>,13966.0
12327,20097,KIOWA,NaN,NaN,NaN,KS,2016,1458.092284,<NA>,NaN
33027,47103,LINCOLN,NaN,LINCOLN COUNTY,TENNESSEE,TN,2015,20415.108473,<NA>,33634.0
8981,17201,WINNEBAGO,"Winnebago County, IL",WINNEBAGO COUNTY,ILLINOIS,IL,2014,123298.778400,75,288770.0
31060,45017,CALHOUN,NaN,NaN,NaN,SC,2018,1321.496726,<NA>,NaN
15039,22043,GRANT,NaN,GRANT PARISH,LOUISIANA,LA,2006,1757.682755,<NA>,21039.0
10365,19011,BENTON,NaN,NaN,NaN,IA,2017,3541.724162,<NA>,NaN
36226,48417,SHACKELFORD,NaN,SHACKELFORD COUNTY,TEXAS,TX,2007,144.147841,<NA>,3357.0

## Preparation

In [23]:
opioids_clean = opioids.copy()
opioids_clean.shape

(41897, 10)

In [24]:
opioids_clean.sample(20)

,fips,buyer_county,County,county,state,buyer_state,year,calc_base_wt_in_gm,deaths,population
38908,51678,LEXINGTON CITY,NaN,NaN,NaN,VA,2017,7016.829432,<NA>,NaN
19115,28053,HUMPHREYS,NaN,HUMPHREYS COUNTY,MISSISSIPPI,MS,2013,1488.443591,<NA>,8965.0
37874,51071,GILES,NaN,GILES COUNTY,VIRGINIA,VA,2014,12205.808858,<NA>,16853.0
39598,53065,STEVENS,NaN,STEVENS COUNTY,WASHINGTON,WA,2007,31151.445501,<NA>,43059.0
7097,16009,BENEWAH,NaN,BENEWAH COUNTY,IDAHO,ID,2006,4457.685846,<NA>,9260.0
25330,37031,CARTERET,NaN,CARTERET COUNTY,NORTH CAROLINA,NC,2012,46319.386528,<NA>,67792.0
39776,54011,CABELL,NaN,NaN,NaN,WV,2017,54276.180016,<NA>,NaN
11036,19107,KEOKUK,NaN,NaN,NaN,IA,2016,708.865692,<NA>,NaN
10434,19021,BUENA VISTA,NaN,NaN,NaN,IA,2016,2939.400212,<NA>,NaN
16013,24025,HARFORD,"Harford County, MD",HARFORD COUNTY,MARYLAND,MD,2013,166021.905326,15,248961.0
28217,39153,SUMMIT,NaN,NaN,NaN,OH,2017,161982.480986,<NA>,NaN
12868,20175,SEWARD,NaN,SEWARD COUNTY,KANSAS,KS,2011,9500.149085,<NA>,23131.0
5543,13103,EFFINGHAM,NaN,NaN,NaN,GA,2016,23488.305282,<NA>,NaN
41378,55131,WASHINGTON,NaN,NaN,NaN,WI,2019,28914.045033,<NA>,NaN
17523,26165,WEXFORD,NaN,WEXFORD COUNTY,MICHIGAN,MI,2011,34269.011135,<NA>,32637.0
19052,28045,HANCOCK,"Hancock County, MS",HANCOCK COUNTY,MISSISSIPPI,MS,2006,10984.175287,19,40087.0
22621,31081,HAMILTON,NaN,NaN,NaN,NE,2017,1532.603829,<NA>,NaN
9075,18011,BOONE,NaN,BOONE COUNTY,INDIANA,IN,2010,23907.457008,<NA>,56924.0
11663,19197,WRIGHT,NaN,WRIGHT COUNTY,IOWA,IA,2013,4456.750440,<NA>,12982.0
37927,51079,GREENE,NaN,GREENE COUNTY,VIRGINIA,VA,2011,5794.289327,<NA>,18694.0

In [25]:
opioids_clean["deaths"] = pd.to_numeric(
    opioids_clean["deaths"], errors="coerce"
).astype("Int64")
opioids_clean["population"] = opioids_clean["population"].astype("Int64")

In [26]:
opioids_clean["policy_state"] = (opioids_clean["state"] == "FLORIDA").astype(int)
opioids_clean["post"] = (opioids_clean["year"] >= 2010).astype(int)
opioids_clean["relative_year"] = opioids_clean["year"] - 2010
opioids_clean["prescriptions_per_1000"] = (
    opioids_clean["calc_base_wt_in_gm"] / opioids_clean["population"] * 1000
)
opioids_clean["overdose_per_100k"] = (
    opioids_clean["deaths"] / opioids_clean["population"] * 100000
)
opioids_clean["relative_year"] = opioids_clean["year"] - 2010

In [27]:
opioids_clean.dtypes

fips                       object
buyer_county               object
County                     object
county                     object
state                      object
buyer_state                object
year                        Int64
calc_base_wt_in_gm        float64
deaths                      Int64
population                  Int64
policy_state                int64
post                        int64
relative_year               Int64
prescriptions_per_1000    Float64
overdose_per_100k         Float64
dtype: object

In [28]:
opioids_deaths = opioids_clean.copy()
avg_pop = opioids_deaths.groupby("fips")["population"].mean()
big_fips = avg_pop[avg_pop >= 350000].index
opioids_deaths = opioids_deaths[opioids_deaths["fips"].isin(big_fips)]

In [29]:
opioids_clean.to_csv("opioids_clean.csv")
opioids_deaths.to_csv("opioids_deaths.csv")